services:
  nginx:

    build: .
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html


  db:
    restart: always
    image: postgres:16.3-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    #ports:
    #  - 5432:5432
    hostname: db
    networks:
      - backend
    env_file:
      - ./backend/.env

  redis:
    image: redis
    hostname: redis
    restart: unless-stopped
    command: redis-server --port 6380
    ports:
      - 6380:6380
    volumes:
      - ./redisdata:/data
    networks:
       - backend

  django:
    restart: always
    build:
      context: .
      dockerfile: ./backend/docker/django/Dockerfile
    command: 
      /start
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    networks:
      - backend
    depends_on: 
      - db
volumes:
  postgres_data:
  celery:

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
